<% include _header %>
<h1>Posts!</h1>

<div class="panel panel-default">
  <a href="/discussion/<%= discussionId %>/create_post">Add to the descussion...</a>
</div>

<% posts.forEach(function(post) { %>
  <div class="panel panel-default post">
    <div class="panel-heading">
      <a href="/discussion/<%= discussionId %>/<%= post.id %>">
        <%= post.title %>
      </a>
    </div>
  </div>
<% }) %>

<% include _footer %>
