<% include _header %>
<h1>MidoriBB</h1>

<div class="panel panel-default">
  <a href="/discussion/add">Add a discussion</a>
</div>

<% discussions.forEach(function(discussion) { %>
  <div class="panel panel-default discussion">
    <div class="panel-heading">
      <a href="/discussion/<%= discussion._id %>/index">
        <%= discussion.title %>
      </a>
    </div>
    <div class="panel-body discussion-description">
      <%= discussion.description %>
    </div>
  </div>
<% }) %>

<% include _footer %>
