<!DOCTYPE html>
<html>
    <head>
        <title>
            MidoriBB
        </title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <% topics.forEach(function(topic){ %>
        <    <h2><%= topic.title %></h2>
        <% }) %>
    </body>
</html>